  body {
    background-color: lavender;
  }
  h1{
    color: #34626c;
  }

  h3{
      color: #5c6e91;
    }

  a{
    color:#5c6e91;
    text-decoration: none;
  }

  a:hover{
    color: silver;
  }

  hr{
    height: 20px;
    /* top | right | bottom | left */
    border-style: none none dotted none;
    border-bottom-color: silver;
    border-width: thick;
    border-bottom-width: 7px;
    width: 10%
  }
  table, th, td {
  border: 0 solid gray;
  padding: 5px;
  }
  table {
  border-spacing: 5px;
  }
  /* classes
  */
  .photo {
    border: 2px solid silver;
  }

  .copyright-text{
    text-align: center;
  }
/* Syntax in css

selector{
property: value;
}

*/


/*     *******MEDIA QUERIES********* */
/*media queries for responsive design*/

/*mobile sizes*/
@media (min-width: 400px){
  hr{
    border-bottom-width: 20px;
  }
  h1{
    font-size: 10rem;
  }
  h2{
    font-size: 5rem;
  }
  h3{
    font-size: 4rem;
  }
  body{
    font-size: 3rem;
  }
  a{
    font-size: 3rem;
  }
  .btn{
    font-size: 40px;
  }
  .footer-link{
    font-size: 3rem;
  }
}


/*tablet sizes*/
@media (min-width: 900px){
  hr{
    border-bottom-width: 10px;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2rem;
  }
  body{
    font-size: 1.5rem;
  }
  a{
    font-size: 1.5rem;
  }
  .btn{
    font-size: 20px;
  }
  .footer-link{
    font-size: 1.5rem;
  }
}


/*big screen sizes*/
@media (min-width: 1900px){
  hr{
    border-bottom-width: 50px;
  }
  h1{
    font-size: 15rem;
  }
  h2{
    font-size: 5rem;
  }
  h3{
    font-size: 4rem;
  }
  body{
    font-size: 3rem;
  }
  a{
    font-size: 3rem;
  }
  .btn{
    font-size: 60px;
  }
  .footer-link{
    font-size: 4.5rem;
  }
}

